<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">


<div id="menu1">
    <div class="logoM">
        <p class="nombre">DangerMap</p>
    </div><br><br>
</div>

<div id="menu2" style="display: none">
    <i class="material-icons" id="backmenu2" onclick="regresar()">arrow_back</i>
        <div class="logoM">
           <p class="nombre">DangerMap</p>
        </div><br><br>
</div>

<div class="formulario" style="display: none" id="menu3">
    <div>Reportar zona</div>
</div>
